
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 10px;
    line-height: 1.5;
    text-align: center;
}

button {
    margin: 20px 8px;
    padding: 1px 8px;
    font-size: 13px;
}


